input[type="file"]
{
  display: none;
}


.pic{
    width:125px;
    height: 125px;
    border-radius:40%;
}

.upload-part div{
    // margin-left: 70%;
    margin-right: 10px;
    display: inline-block;
}

.change-img{
    margin-top: 55px;
}