<div align="center" style="margin-top: 65px; padding:30px ;">
    



    <section class="h-100 h-custom"  >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <div class="card-body p-4 p-md-5" [formGroup]="passwordForm">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Forgotten password</h3>
                    <div class="row">
                        
                        <div class="col-md-12 mb-12">
                            <div>
                                <input class="form-control" style="width: 60%; text-align: center;" type="text" id="username" name="username" placeholder="your username" formControlName="username">
                                <small
                                    class="text-danger"
                                    *ngIf="
                                    passwordForm.controls['username'].touched &&
                                    passwordForm.controls['username'].errors?.['required']
                                    "
                                >
                                username is required</small>
                                <small
                                    class="text-danger"
                                    *ngIf="
                                    passwordForm.controls['username'].touched &&
                                    passwordForm.controls['username'].errors?.['minlength']
                                    "
                                >
                                username must have at least 2 character </small>
                                
                            </div>
                        </div>
                    </div>
                    
      
                   <br>
                    <div *ngIf="badMessage" style="color:red;margin-bottom: 10px;">
                        {{badMessage}}
                    </div>
                    <div *ngIf="successMessage" style="color:green;margin-bottom: 10px;">
                        {{successMessage}}
                    </div>
                   <div style="text-align: center; ">
                    <button  class="btn btn-success btn-lg mb-1" (click)="forgotPassword()" [disabled]="passwordForm.invalid">reset password</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</div>

