
<div align="center" style="margin-top: 65px; padding:30px ;">
    



    <section class="h-100 h-custom"  >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <div class="card-body p-4 p-md-5" [formGroup]="passwordForm">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Forgotten password</h3>
                    <div class="row">
                        
                        <div class="col-md-12 mb-12">
                            <div>
                                <input class="form-control" style="width: 60%; text-align: center;" type="password" id="password" name="password" placeholder="password" formControlName="password">
                                <small
                                    class="text-danger"
                                    *ngIf="
                                    passwordForm.controls['password'].touched &&
                                    passwordForm.controls['password'].errors?.['required']
                                    "
                                >
                                password is required</small>
                                <small
                                    class="text-danger"
                                    *ngIf="
                                    passwordForm.controls['password'].touched &&
                                    passwordForm.controls['password'].errors?.['minlength']
                                    "
                                >
                                password must have at least 8 character </small>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;;">
                        
                        <div class="col-md-12 mb-12">
                            <div>
                                <input class="form-control" style="width: 60%; text-align: center;" type="password" id="confirmedPassword" name="username" placeholder="confirm password" formControlName="confirmedPassword">
                                <small
                                    class="text-danger"
                                    *ngIf="
                                    passwordForm.controls['confirmedPassword'].touched &&
                                    passwordForm.controls['confirmedPassword'].errors?.['required']
                                    "
                                >
                                confirm password is required</small>
                                <small
                                    class="text-danger"
                                    *ngIf="
                                    passwordForm.controls['confirmedPassword'].touched &&
                                    passwordForm.controls['confirmedPassword'].errors?.['minlength']
                                    "
                                >
                                confirm password must have at least 8 character </small>

                                <small
                                class="text-danger"
                                *ngIf="
                                passwordForm.controls['confirmedPassword'].touched &&
                                passwordForm.controls['confirmedPassword'].errors?.['confirmedValidator']
                                "
                            >
                            passwords not equals</small>
                                
                            </div>
                        </div>
                    </div>
                    
      
                   <br>
                    <div *ngIf="errorMessage" style="color:red;margin-bottom: 10px;">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="successMessage" style="color:green;margin-bottom: 10px;">
                        {{successMessage}}
                    </div>
                   <div style="text-align: center; ">
                    <button  class="btn btn-success btn-lg mb-1" (click)="changePassword()" [disabled]="passwordForm.invalid">change password</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</div>

