<section class="h-100 h-custom"  >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5" [formGroup]="passwordForm">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Change password</h3>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div>
                            <label>new password</label>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div>
                            <input type="password" id="newPassword" name="newPassword" formControlName="newPassword">
                            <small
                                class="text-danger"
                                *ngIf="
                                passwordForm.controls['newPassword'].touched &&
                                passwordForm.controls['newPassword'].errors?.['required']
                                "
                            >
                            new password is required</small>
                            <small
                                class="text-danger"
                                *ngIf="
                                passwordForm.controls['newPassword'].touched &&
                                passwordForm.controls['newPassword'].errors?.['minlength']
                                "
                            >
                            new password must have at least 6 character </small>
                        </div>
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div>
                            <label>confirm password</label>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div>
                            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                            <small
                                class="text-danger"
                                *ngIf="
                                passwordForm.controls['confirmPassword'].touched &&
                                passwordForm.controls['confirmPassword'].errors?.['required']
                                "
                            >
                            confirm password is required</small>
                            <small
                                class="text-danger"
                                *ngIf="
                                passwordForm.controls['confirmPassword'].touched &&
                                passwordForm.controls['confirmPassword'].errors?.['minlength']
                                "
                            >
                            confirm password must have at least 6 character </small>
                        </div>
                    </div>
                </div>
                <label class="text-danger badPassword" *ngIf="badPassword" >bad password</label>

                <label class="label-success" *ngIf="successPassword" >password successful changed </label>
                
  
               
                
               <div style="text-align: center; ">
                <button  class="btn btn-success btn-lg mb-1" (click)="onSubmit()" [disabled]="passwordForm.invalid">change password</button>
                </div>
                
  
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
