<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        
        <div style="position: absolute; right:0; margin-right:20px; margin-top:25px; ">
            <a [routerLink]="['/uber/auth/login']" style="margin-right: 20px; text-decoration: none;">SIGN IN</a>
            <a [routerLink]="['/uber/auth/registration']" style="margin-right:50px;text-decoration: none;">SIGN UP</a>
        </div>
        <h2 align="center" style="padding-top:20px; color:white">WELCOME TO UBER</h2>
        <div align="center" style="margin-top:50px;">
            <a align="center" style=" color:white; text-decoration: none;" [routerLink]="['/uber/ride/unregister']"> SEE RIDES INFORMATION</a>
        </div>
        
      
    </div>
  </section>
