.slika {
    background-image: url('./../../../../../assets/uber-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #hero {
    width: 100%;
    height: 100vh;
    background: url(../../../../../assets/uber-header.jpg) top center;
    background-size: cover;
    position: relative;
  }
  