<section class="h-100 h-custom"  >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5" [formGroup]="dataForm">
              
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">profile info</h3>
            <div class="row pic">   
                  
              <app-profile-picture *ngIf="image" [image]="image"></app-profile-picture>
              <!-- <app-profile-picture *ngIf="!image" [image]="image"></app-profile-picture> -->

            </div>
            
              <app-form-user-data [dataForm]="dataForm"></app-form-user-data>
             
              

             
              
             <div>
                  <a [routerLink]="['/uber/user/change-password']" class="password-link">change password</a>
                  <button  *ngIf="!isDriver" class="btn btn-success btn-lg mb-1" (click)="onSubmit()" [disabled]="isChanged() || dataForm.invalid">save changes</button>
                  <button  *ngIf="isDriver" class="btn btn-success btn-lg mb-1" (click)="onDriverSubmit()" [disabled]="isChanged() || dataForm.invalid">submit a request</button>
              </div>
              

            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
