<div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- <app-navbar-admin *ngIf="role === 'ROLE_ADMIN'"></app-navbar-admin>
        <app-navbar-client *ngIf="role === 'ROLE_CLIENT'"></app-navbar-client>
        <app-navbar-driver *ngIf="role === 'ROLE_DRIVER'"></app-navbar-driver> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-outlet  (activate)="checkRole()"></router-outlet>
      </div>
    </div>
    


</div>
